h1{
font-size: 40px;
    font-family: "Courier New";
    text-align: center;
    color: white;

}

body{
    background-color: lightblue;
   text-align: center;
    color: black;

}

#buttongo{
    background-color: lightcyan;
    color:black;
    border:none;
    width: 150px;
    height:50px;
    style: "margin-left:30px";
    font-family: "Courier New";
    transform: scale(1.0);
    transition:all 0.5s linear;


}
#buttongo:hover{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.05);

}
#result{
    background-color: lightcyan;
    color:black;
    border:none;
    width: 150px;
    height:50px;
    font-family: "Courier New";
    style: "margin-left:30px";
    transform: scale(1.0);
    transition:all 0.5s linear;


}
#result:hover{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.05);

}
#artist{
    background-color: lightcyan;
    color:black;
    border:none;
    width: 150px;
    height:50px;
    font-family: "Courier New";

    transform: scale(1.0);
    transition:all 0.5s linear;

}
#artist:hover{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.05);

}
.pictures:hover{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.25);
}
table{
    width: 100%;
    font-size: large;
    border: 1px solid black;
}

/*th, td {*/
    /*padding: 15px;*/
/*}*/


audio:hover, audio:focus, audio:active
{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.05);
}


audio
{
    transition:all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius:7px 7px 7px 7px ;
}
